.center-form {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* z-index: 2; */

}
#carousel {
    z-index: -1;
}

.btn-white {
    background-color: white;
    color: black;
}

.carousel-item {
    height: 100vh;
}

.carousel-image-1 {
    background: url("bagballspigs.png"); 
    overflow: hidden;
}

.carousel-image-2 {
    background: url("bigballsbat.png");
    overflow: hidden;
}

.carousel-image-3 {
    background: url("bigballsmonkey.png");
    overflow: hidden;
}